.linha td{
    padding-top: 15px;
    text-align: "start";
    padding-left: 5px;
    word-break: break-all;  
}

.entrada {
    background-color: rgb(0, 255, 0);
    padding: 0px 8px;
    border-radius: 55px;
    color: rgb(0, 255, 0);
}

.saida {
    background-color: red;
    padding: 0px 8px;
    border-radius: 55px;
    color: red;
}

.linha .thcenter {
    text-align: center;
}

.thcenter .delete {
    cursor: pointer;
}